# Cole aqui a connection string do Neon (postgresql://...)
# Exemplo: postgresql://joao:senha@ep-xxx.us-east-2.aws.neon.tech/camila?sslmode=require
DATABASE_URL="postgresql://USUARIO:SENHA@HOST.neon.tech/NOME_DO_BANCO?sslmode=require"
PORT=3001
